body{
    background-color: #555;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    color: #999;
    position: relative;
    z-index: 10; /*Z-INDEX PERMITE MOVER LAS CAJAS EN EL EJE Z*/

}
.box--blue{
    background-color: blue;
    left: 50px; /*LEFT Y TOP SON PRIORIDAD*/
    top: 50px;
    z-index: 20;
}
.box--green{
    background-color: green;
    z-index: 30;
}